<%- include('./layouts/header.ejs') %>
    <div class="container">
        <center><h1 class="mt-5 mb-5">404 Not Found</h1></center>
        <h3>Find Quick Links: </h3>
        <ol>
            <li><a href="/auth/login">
                Login 
            </a></li>
            <li><a href="/auth/signup">
                Register 
            </a></li>
            <li><a href="/about">
                About 
            </a></li>
            <li><a href="/user/profile">
                Profile 
            </a></li>
            <li><a href="/user/admin">
                Admin Panel 
            </a></li>
        </ol>
    </div>

<%- include('./layouts/footer.ejs') %>