<%- include('./layouts/header.ejs') %>
    <div class="container">
        <center><h1 class="mt-5">Welcome!!</h1></center>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 mt-4">
                <%- include('./layouts/alert.ejs') %>
                <form action="/auth/signup" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Full Name </label>
                        <input type="text" required class="form-control rwed" id="name" name="name" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" required class="form-control rwed" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" name="password" required class="rwed form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
                        <input type="password" name="password2" required class="rwed form-control" id="exampleInputPassword2">
                    </div>
                    <div class="mb-3">
                        <p class="form-text inline">Already have an account? </p>
                        <a class="form-text text-primary" href="/auth/login"> Login</a>
                    </div>
                    <input type="submit" class="btn px-4 btn-primary" value="Sign Up">
                </form> 
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
<%- include('./layouts/footer.ejs') %>