<% if (locals.messages) { %>
    <% Object.keys(messages).forEach((key) => { %> <%
    messages[key].forEach((message) => { %>
    <div class="alert alert-dismissible fade show <%= key %>" role="alert">
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% }) %> <% }) %>
<% } %>