<% if (locals.messages) { %>
    <% Object.keys(messages).forEach((key) => { %> <%
    messages[key].forEach((message) => { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <div class="<%= key %>">
            <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <% }) %> <% }) %>
<% } %>